# {{ ansible_managed }}
# Синхронизация времени. Расхождение часов ломает опрос приборов учёта
# по расписанию и корреляцию журналов между серверами.
{% for server in common_ntp_servers %}
server {{ server }} iburst
{% endfor %}

keyfile /etc/chrony/chrony.keys
driftfile /var/lib/chrony/chrony.drift
logdir /var/log/chrony
maxupdateskew 100.0
rtcsync
makestep 1.0 3
leapsectz right/UTC
