# {{ ansible_managed }}
Port {{ common_ssh_port }}
Protocol 2

PermitRootLogin {{ common_ssh_permit_root_login }}
PasswordAuthentication {{ 'yes' if common_ssh_password_authentication | bool else 'no' }}
PubkeyAuthentication yes
PermitEmptyPasswords no
ChallengeResponseAuthentication no
KbdInteractiveAuthentication no
UsePAM yes

MaxAuthTries {{ common_ssh_max_auth_tries }}
MaxSessions 10
LoginGraceTime 30
ClientAliveInterval {{ common_ssh_client_alive_interval }}
ClientAliveCountMax {{ common_ssh_client_alive_count_max }}

X11Forwarding no
AllowAgentForwarding no
AllowTcpForwarding yes
PermitTunnel no
PrintMotd no

{% if common_ssh_allow_users | length > 0 %}
AllowUsers {{ common_ssh_allow_users | join(' ') }}
{% endif %}
{% if common_ssh_allow_groups | length > 0 %}
AllowGroups {{ common_ssh_allow_groups | join(' ') }}
{% endif %}

KexAlgorithms curve25519-sha256,curve25519-sha256@libssh.org,diffie-hellman-group16-sha512,diffie-hellman-group-exchange-sha256
Ciphers chacha20-poly1305@openssh.com,aes256-gcm@openssh.com,aes128-gcm@openssh.com,aes256-ctr,aes192-ctr,aes128-ctr
MACs hmac-sha2-512-etm@openssh.com,hmac-sha2-256-etm@openssh.com,umac-128-etm@openssh.com
