{
  "log-driver": "json-file",
  "log-opts": {
    "max-size": "{{ nekta_docker_log_max_size }}",
    "max-file": "{{ nekta_docker_log_max_file }}"
  },
  "live-restore": true,
  "default-address-pools": [
{% for pool in nekta_docker_address_pools %}
    { "base": "{{ pool.base }}", "size": {{ pool.size }} }{{ "," if not loop.last }}
{% endfor %}
  ]
}
